<div class="w-full flex justify-center items-center gap-2">
    <button
        type="button"
        (click)="prev()"
        class="size-9 bg-white transition hover:bg-orange-600 group shrink-0 rounded-md flex items-center justify-center p-2 border border-gray-200 disabled:hover:bg-white"
        [disabled]="page === 1"
    >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                class="stroke-gray-900 group-hover:stroke-white"
                [ngClass]="{ 'group-hover:stroke-gray-900': page === 1 }"
                d="M14.9998 19.9201L8.47984 13.4001C7.70984 12.6301 7.70984 11.3701 8.47984 10.6001L14.9998 4.08008" stroke="#151B33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    @for (p of displayPages; track $index) {
        @if(p !== '...') {
            <button
                class="size-9 bg-white text-gray-900 transition hover:bg-orange-600 hover:text-white text-sm group shrink-0 rounded-md flex items-center justify-center p-2 border border-gray-200"
                [ngClass]="{
                    '!bg-orange-600 !text-white': p === page
                }"
                (click)="goto(p)"
            >
                {{ p }}
            </button>
        } @else {
            <span class="size-9 text-gray-900 text-sm group shrink-0 rounded-md flex items-center justify-center p-2">...</span>
        }
    }
    <button
        type="button"
        (click)="next()"
        class="size-9 bg-white transition hover:bg-orange-600 group shrink-0 rounded-md flex items-center justify-center p-2 border border-gray-200 disabled:hover:bg-white"
        [disabled]="page === totalPages"
    >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                class="stroke-gray-900 group-hover:stroke-white"
                [ngClass]="{ 'group-hover:stroke-gray-900': page === totalPages }"
                d="M8.91016 19.9201L15.4302 13.4001C16.2002 12.6301 16.2002 11.3701 15.4302 10.6001L8.91016 4.08008" stroke="#151B33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>